.search-bar input{
  border: none;
  border-bottom: 2px solid #333;
  border-radius: 0;
  box-shadow: none !important;
  font-size: 3em;
  margin-bottom: 25px;
  padding: 25px 15px;

  @media(min-width: 992px) {
    font-size: 4em;
  }

  &:focus{
    border-bottom: 2px solid #333;
    outline: none;
  }
}
